body {
  background-color: beige;
}

.section-block:not(:last-of-type) {
  margin-bottom: 54px;
}

.block-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 24px;
}

.block {
  width: 54px;
  height: 54px;
  background-size: contain;
  background-repeat: no-repeat;
}

.block-one {
  background-image: url('./icons/home.svg');
}

.block-two {
  background-image: url('./icons/phone.svg');
}

.block-three {
  background-image: url('./icons/wink.svg');
}

.icon {
  display: block;
  fill: currentColor;
}

.icon:hover {
  color: red;
}
